<form method="POST" action="{{ path('rule_engine_test') }}">
  <input type="text" name="name" id="name">
  <input type="submit" value="Test Dependencies">
</form>
{% if data is defined %}
{{dump(data)}}
{% endif %}